<div class="container-fluid">

  <main id="main" class=" alert-info">
    <div id="login-left">
      <div class="logo">
        <img id="logo" src="assets/img/logo.png" alt="logo">
      </div>
    </div>
    <div id="login-right">
      <div class="card col-md-8">
        <div>
          <mat-card>
          <form fxLayoutAlign="stretch" fxLayout="column">

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email">
            </mat-form-field>

            <button mat-raised-button type="submit" class="btn-primary">get code</button>
          </form>
        </mat-card>
        </div>
      </div>
    </div>

</main>
 </div>
