<h1 mat-dialog-title> Add User Form</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Full Name</mat-label>
    <input matInput placeholder="write name">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput placeholder="write email">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Telephone Number</mat-label>
    <input matInput placeholder="write phone number">
  </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>CIN</mat-label>
      <input matInput placeholder="write CIN">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Pid</mat-label>
      <input matInput placeholder="write Pid">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Zip Code</mat-label>
      <input matInput placeholder="write code">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Bank Code</mat-label>
      <input matInput placeholder="write code">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Language</mat-label>

      <mat-select placeholder="language">
        <mat-option value="EN">English</mat-option>
        <mat-option value="FR">French</mat-option>
        <mat-option value="AR">Arabic</mat-option>
      </mat-select>

    </mat-form-field>
</div>
